---
layout: default
title: Calendar
---
<style>
</style>
<h1>Calendar</h2>
<h2> Upcoming events</h2>
  <dl class="event_list">  
  {% for event in site.data.events %}
    {% assign today = 'now' | date: '%s' %}
    {% assign event_date = event.date | date: '%s' %}
    {% if today <= event_date %}
      <dt>{{ event.date | date: "%b %d, %Y"}}</dt> 
      <dd>{{ event.title }}</dd>      
      {% endif %}
  {% endfor %}
</dl>
<h2> Past events</h2>
<dl class="event_list">
  {% for event in site.data.events %}
    {% assign today = 'now' | date: '%s' %}
    {% assign event_date = event.date | date: '%s' %}
    {% if today > event_date %}  
      <dt>{{ event.date| date: "%b %d, %Y" }}</dt><dd> {{ event.title }}</dd>
      {% endif %}
  {% endfor %}
</dl>
