---
layout: default
title: Home
---

  <style>    
    /* Override padding for home page only */ 
    main {
      padding: 0;
    }        
  </style>

  <div class="jumbotron">  
      <h1>Welcome to the Numerilab</h1>
      <p>Numeracy, noun : <br />
        the ability to understand and work with numbers.
      </p>
      <p><a href="/about" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="homepage_news">
    
  {% assign event_count = 0 %}
  {% for event in site.data.events %}
    {% assign today = 'now' | date: '%s' %}
    {% assign event_date = event.date | date: '%s' %}
    {% if today <= event_date %}     
       {% if event_count == 0 %}
       <div>
         <h2>Next event</h2>
         {{ event.date | date: "%b %d, %Y"}}<br /><br />
          {{ event.title }}           
        </div>
        {% endif %}
        {% assign event_count = event_count | plus: 1 %}
    {% endif %}
  {% endfor %}
    
    
      <div>
        <h2>Latest workshop</h2>
        <img class="homepage_thumbnail" src="/assets/thumbnails/{{ site.workshops.last.thumbnail | default: "rive.png"}}"/>
        <p>{{ site.workshops.last.title }}</p>
        <p style="clear:both"><a role="button" href="{{ site.workshops.last.url }}">View details &raquo;</a></p>
      </div>
      <div>
        <h2>Latest news</h2>
        <p>{{ site.news.last.title }}</p>
        <p><a role="button" href="{{ site.news.last.url }}">View details &raquo;</a></p>
      </div>
      <div>
        <h2>Latest analysis project</h2>
        <img class="homepage_thumbnail" src="/assets/thumbnails/{{ site.analysis_projects.last.thumbnail | default: "rive.png"}}"/>
        <p>{{ site.analysis_projects.last.title }}</p>
        <p style="clear:both"><a role="button" href="{{ site.analysis_projects.last.url }}">View details &raquo;</a></p>
      </div>
    
    
  </div>
  
