.highlighter-rouge {
  font-size:15px;
  background-color:#eee;
  font-family:"Fira Mono";
}
.highlight .n { color: black }
.highlight .w { color: #b6009f }
.highlight .p { color: #2800df }
.highlight .o { color: #1f8100 }