---
layout: default
title: Ateliers
en_url: "/en/workshops"
---
<h1>Ateliers</h1>

<p style="clear:both;">N.B nos ateliers seront progressivement traduits en français. Pour consulter
la liste des ateliers disponibles en anglais, <a href="/en/workshops">suivez ce lien</a>.</p>

{% comment -%}
Attention, il ne faut pas mettre d'espaces dans les items dans cette liste.
Idéalement on construirait cette liste à partir des valeurs contenus dans la collection...
Mais le langage ne semble pas le permettre pour le moment
{% endcomment %}
{% assign categories = "Stats,Programmation,Exploration des données" | split: ',' %}

{% for category in categories %}

  <h2 style="margin-bottom:0;margin-top:20px">{{ category }}</h2>

  {% for post in site.ateliers %}
    {% if post.category == category %}
    {% include post_preview.html %}
    {% endif %}
  {% endfor %}

{% endfor %}
