---
layout: default
title: Calendrier
en_url: /en/calendar
---
<h1>Calendrier</h2>


<h2>Événements à venir</h2>
  <dl class="event_list">
  {% for event in site.data.events %}
    {% assign today = 'now' | date: '%s' %}
    {% assign event_date = event.date | date: '%s' %}
    {% if today <= event_date %}
      <dt>{{ event.date | date: "%Y-%m-%d"}}</dt>
      <dd>{{ event.title }}</dd>
      {% endif %}
  {% endfor %}
</dl>
<h2>Événements passés</h2>
<dl class="event_list">
  {% for event in site.data.events reversed %}
    {% assign today = 'now' | date: '%s' %}
    {% assign event_date = event.date | date: '%s' %}
    {% if today > event_date %}
      <dt>{{ event.date| date: "%Y-%m-%d" }}</dt><dd> {{ event.title }}</dd>
      {% endif %}
  {% endfor %}
</dl>
