---
layout: default
title: Accueil
en_url : "/en/"
---

  <style>
    /* Override padding for home page only */
    main {
      padding: 0;
    }
  </style>

  <div class="jumbotron">
      <h1>Bienvenue au Numérilab</h1>
      <p>Numératie, nom : <br />
        Capacité d'une personne à comprendre et à utiliser des concepts mathématiques, <br />lui permettant de maîtriser suffisamment l'information quantitative et spatiale pour être fonctionnelle en société.
      </p>
      <p><a href="/fr/a_propos" role="button">En savoir plus &raquo;</a></p>
    </div>
  </div>

  <div class="homepage_news">

  {% assign event_count = 0 %}
  {% for event in site.data.events %}
    {% assign today = 'now' | date: '%s' %}
    {% assign event_date = event.date | date: '%s' %}
    {% if today <= event_date %}
       {% if event_count == 0 %}
       <div>
         <h2>Prochain événement</h2>
         {{ event.date | date: "%b %d, %Y"}}<br /><br />
          {{ event.title }}
        </div>
        {% endif %}
        {% assign event_count = event_count | plus: 1 %}
    {% endif %}
  {% endfor %}


      <div>
        <h2>Dernier atelier</h2>
        <img class="homepage_thumbnail" src="/assets/thumbnails/{{ site.workshops.last.thumbnail | default: "rive.png"}}"/>
        <p>{{ site.workshops.last.title }}</p>
        <p style="clear:both"><a role="button" href="{{ site.workshops.last.url }}">Voir les détails &raquo;</a></p>
      </div>
      <div>
        <h2>Nouvelles récentes</h2>
        <p>{{ site.nouvelles.last.title }}</p>
        <p><a role="button" href="{{ site.nouvelles.last.url }}">Voir les détails &raquo;</a></p>
      </div>
      <div>
        <h2>Projet récent</h2>
        <img class="homepage_thumbnail" src="/assets/thumbnails/{{ site.analysis_projects.last.thumbnail | default: "rive.png"}}"/>
        <p>{{ site.analysis_projects.last.title }}</p>
        <p style="clear:both"><a role="button" href="{{ site.analysis_projects.last.url }}">Voir les détails &raquo;</a></p>
      </div>


  </div>
