<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira%20Sans">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <nav>    
    	<ul>
        <li><a id="homelink" href="/">NumeriLab</a></li>
        <li><a class="nav-link" href = "/news">News</a></li>
        <li><a class="nav-link" href = "/calendar">Calendar</a></li>        
    		<li><a class="nav-link" href = "/workshops">Workshops</a></li>        
    		<li><a class="nav-link" href = "/analysis_projects">Analysis projects</a></li>
        <li><a class="nav-link" href = "/useful_links">Useful links</a></li>
        <li><a class="nav-link" href = "/about">About us</a></li>
    	</ul>      
    </div>
  </nav>
  <main>		
	{{ content }}
  </main>    
</body>
</html>
